# IDEs
.idea/

# Virtual environments
.venv/
venv/

# Hold project-specific environment variables,
# needed for Python access to some APIs such as AWS
.env

# Python bytecode
__pycache__/
*.py[cod]

# OS cruft
.DS_Store
/.Rproj.user
*.Rproj
scripts/traffic/.Rhistory
.Rhistory

# Local files for testing input and output
# I don't think we want to commit any of these to the repo
scripts/utilities/validation/test_files/
scripts/superfund/pipeline
test.out
*.csv
*.zip
*.png
*.log
*.txt
*.json
*.geojson
*.xlsx

# Dev-specific experiments, temp tools, and old
# files kept for diffing
scripts/utilities/agScratch/
*.old
*.old/

# Dev-specific Copilot instructions
copilot-instructions.md
