# IDEs
.idea/

# Virtual environments
.venv/
venv/

# Hold project-specific environment variables,
# needed for Python access to some APIs such as AWS
.env

# Python bytecode
__pycache__/
*.py[cod]

# OS cruft
.DS_Store
/.Rproj.user
*.Rproj
scripts/traffic/.Rhistory
.Rhistory
